<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>

    {% if session["winner_pos"] %}
    {% for num in session["winner_pos"] %}
    <style>
        #game_but{{num}} {
            background-color: black;
            color: white;
        }

    </style>
    {% endfor %}
    {% endif %}

    <!--    bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!--    google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap"
          rel="stylesheet">

    <!--    styles-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<section id="head">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <h1>Tik Tak Toe</h1>
        </div>
    </div>
</section>

<section id="game">
    <div class="row">
        <div class="col-md-6 game-row-main">
            {% if not session["side"] %}
            <h2 class="ch-cust">Choose side and difficulty</h2>
            <form action="" name="side" method="POST" class="ch-cust">

                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="radio" id="btnradio1" autocomplete="off" checked value="X">
                    <label class="btn btn-outline-dark" for="btnradio1">X</label>

                    <input type="radio" class="btn-check" name="radio" id="btnradio2" autocomplete="off" value="O">
                    <label class="btn btn-outline-dark" for="btnradio2">O</label>
                </div>

                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="dific" id="btnradio3" autocomplete="off" checked value="very_easy">
                    <label class="btn btn-outline-dark" for="btnradio3">Easy</label>

                    <input type="radio" class="btn-check" name="dific" id="btnradio4" autocomplete="off" value="very_hard">
                    <label class="btn btn-outline-dark" for="btnradio4">Hard</label>
                </div>

                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
            {% endif %}

            {% if session["side"] %}
            <h3><em>Your side is:</em> <b>{{ session["side"] }}</b></h3>
            {% endif %}


            <!--            BUTTONS-->
            {% if session["side"] %}
            <div class="points">
                <div class="row">
                    <div class="col">
                        <h3><em>X points:</em> <b>{{ session["x_points"] }}</b></h3>
                    </div>
                    <div class="col">
                        <h3><em>O points:</em> <b>{{ session["o_points"] }}</b></h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 game">
                    <form name="but1" method="POST" class="game-form">
                        <div class="container">
                            <div class="row">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="btn btn-outline-dark btn-custom" type="submit" name="game_but11"
                                            id="game_but11">{{ session["button11"]
                                        }}
                                    </button>
                                    <button class="btn btn-outline-dark btn-custom" type="submit" name="game_but12"
                                            id="game_but12">{{ session["button12"]
                                        }}
                                    </button>
                                    <button class="btn btn-outline-dark btn-custom" type="submit" name="game_but13"
                                            id="game_but13">{{ session["button13"]
                                        }}
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="btn btn-outline-dark btn-custom" type="submit" name="game_but21"
                                            id="game_but21">{{ session["button21"]
                                        }}
                                    </button>
                                    <button class="btn btn-outline-dark btn-custom" type="submit" name="game_but22"
                                            id="game_but22">{{ session["button22"]
                                        }}
                                    </button>
                                    <button class="btn btn-outline-dark btn-custom" type="submit" name="game_but23"
                                            id="game_but23">{{ session["button23"]
                                        }}
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="btn btn-outline-dark btn-custom" type="submit" name="game_but31"
                                            id="game_but31">{{ session["button31"]
                                        }}
                                    </button>
                                    <button class="btn btn-outline-dark btn-custom" type="submit" name="game_but32"
                                            id="game_but32">{{ session["button32"]
                                        }}
                                    </button>
                                    <button class="btn btn-outline-dark btn-custom" type="submit" name="game_but33"
                                            id="game_but33">{{ session["button33"]
                                        }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="row">
                <div class="col restart">
                    <form name="restart" method="POST">
                        <button type="submit" name="restart" class="btn btn-dark low-but">Restart</button>
                    </form>
                </div>


                {% if game %}
                <div class="col next">
                    <form name="next" method="POST">
                        <button type="submit" name="next" class="btn btn-dark low-but">Next</button>
                    </form>
                </div>
            </div>
            {% endif %}
            {% endif %}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</section>


<!--    bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>
</html>